:root {
  --primary-color: #00bbf8;
  --primary-dark-color: blue;
  --text-dark: #222;
  --text-light: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.siteName{
  font-size: 3rem;
}

h1, h2{
  padding: 2rem 1rem 0rem;
}

#top-header a{
  color: var(--text-dark);
  text-decoration: none;
}

/* NAVIGATION */
.nav-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--text-dark);
  color: var(--text-light);
}

/* MAIN */
.hero-img img{
  width: 100%;
}

.hero-img {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}



.hero-banner {
  position: absolute;
  bottom: 20%;
  left: 5%;
  background-color: rgb(255 255 255 / 80%);
  color: var(--primary-color);
  padding: .2rem; /* padding: 1.5rem; */
  border-radius: 8px;
  max-width: 300px;
  text-align: left;
}


.hero-banner h2 {
  padding: 0;
}

.hero-banner .btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--text-dark);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}



.reviews-div ul{
  display: grid;
  gap: .5rem;
  padding: 1rem 2rem;
}

.upgrades-div ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .5rem;
  padding: .5rem;
}

.upgrades-div ul li{
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
}

.upgrades-div ul li div{
  background: var(--primary-color);
  padding: 1rem 3rem;
  border: 2px solid var(--primary-dark-color);
  border-radius: 5px;
  height: 100%;
}


/* FOOTER */
footer{
  padding: 1rem;
}

@media only screen and (min-width: 40rem) {

  #wrapper{
    background: white;
    border: 5px solid var(--primary-color);
    margin: 3rem;
    border-radius: 10px;
  }

  body{
    background-image: url(../images/site/checkerboard.jpg);
    background-repeat: repeat;
    background-size: 512px 484px;
    display: grid;
    justify-items: center;
  }

  nav ul{
    padding: .5rem;
  }

  .hero-banner {
    padding: 1.5rem;
  }

  .hero-banner h2 {
    font-size: 2rem; 
    margin-bottom: 0.5rem;
    padding: 0;
  }


  .hero-banner p {
    font-size: 1.5rem;
    font-weight: bold;
  }


  .query-aux{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .reviews-div{
    grid-column: 2/3;
  }

  .upgrades-div{
    grid-column: 1/2;
    grid-row: 1;
  }

  .reviews-div ul{
    gap: 2rem;
    padding: 2rem 2rem;
    font-size: 1.2rem;
  }

  .hero-img img{
    width: 90%;
    max-width: 800px;
    min-width: 600px;
    align-self: center;
  }
}